<nav class="flex gap-4 flex-wrap bg-blue-100 pb-5">
    <a routerLink="ej0"> Ejemplo0 </a>
    <a routerLink="ej1"> Ejemplo1 </a>
    <a routerLink="ej2"> Ejemplo2 </a>
    <a routerLink="ej3"> Ejemplo3 </a>
    <a routerLink="ej3b"> Ejemplo3b </a>
    <a routerLink="ej4"> Ejemplo4 </a>
    <a routerLink="ej4b"> Ejemplo4b </a>
    <a routerLink="ej5"> Ejemplo5 </a>
    <a routerLink="ej6"> Ejemplo6 </a>
    <a routerLink="ej7"> Ejemplo7 </a>
    <a routerLink="ej8"> Ejemplo8 </a>
    <a routerLink="ej9"> Ejemplo9 </a>
    <a routerLink="ej10"> Ejemplo10 </a>
    <a routerLink="ejercicio01"> Ejercicio01 </a>
    <a routerLink="ej11"> Ejemplo11 </a>
    <a routerLink="ej12"> Ejemplo12 Padre </a>
    <a routerLink="ej13"> Ejemplo13 Padre </a>
    <a routerLink="ej14"> Ejemplo14 </a>
    <a routerLink="ej14b"> Ejemplo14b </a>
    <a routerLink="ej15"> Ejemplo15 </a>
    <a routerLink="ej16"> Ejemplo16 </a>
    <a routerLink="ej17"> Ejemplo17 </a>
    <a routerLink="ej18"> Ejemplo18 </a>
    <a routerLink="ejercicio02"> Ejercicio02 </a>
    <a routerLink="ej19"> Ejemplo19 </a>
    <a routerLink="ej20a"> Ejemplo20a </a>
    <a routerLink="ej20b"> Ejemplo20b </a>
    <a routerLink="ej20c"> Ejemplo20c </a>
    <a routerLink="ej20d"> Ejemplo20d </a>
    <a routerLink="ej20e"> Ejemplo20e </a>
    <a routerLink="ej20f"> Ejemplo20f </a>
    <a routerLink="ej20g"> Ejemplo20g </a>
    <a routerLink="ej20h"> Ejemplo20h </a>
    <a routerLink="ej20i"> Ejemplo20i </a>
</nav>